echo ""
echo "-------------------------------------------------------"
echo "                 Lawena Recording Tool                 "
echo "-------------------------------------------------------"
echo "Load your demos using the playdemo command."
echo "To show this message again, use showhelp or press {{key_showhelp_user}}."
echo ""
echo "-------------------------------------------------------"
echo "{{key_record_user}} - Starts/stops recording to your movie folder"
echo "{{key_fpsup_user}} - Increases the recording frame rate"
echo "{{key_fpsdown_user}} - Decreases the recording frame rate"
echo "{{key_togglehud_user}} - Shows/hides the entire HUD"
echo "{{key_togglenotices_user}} - Shows/hides the deathnotices"
echo "{{key_toggleragdolls_user}} - Enables/disables ragdolls"
echo "{{key_lockviewmodels_user}} - Locks viewmodels until TF2 is restarted"
echo "{{key_lockcrosshair_user}} - Locks default crosshair until TF2 is restarted"
echo ""
echo "-------------------------------------------------------"
echo "                  Third-person camera                  "
echo "-------------------------------------------------------"
echo "{{key_thirdperson_user}} - Switch to third person"
echo "{{key_firstperson_user}} - Switch back to first person
echo "{{key_toggledist_user}} - Toggle camera distance"
echo "{{key_togglepitch_user}} - Toggle camera pitch"
echo "{{key_cam_back_user}} - Back view"
echo "{{key_cam_backleft_user}} - Back-Left view"
echo "{{key_cam_left_user}} - Left view"
echo "{{key_cam_frontleft_user}} - Front-Left view"
echo "{{key_cam_front_user}} - Front view"
echo "{{key_cam_frontright_user}} - Front-Right view"
echo "{{key_cam_right_user}} - Right view"
echo "{{key_cam_backright_user}} - Back-Right view"
echo ""
echo "-------------------------------------------------------"
echo ""
