echo ""
echo "-------------------------------------------------------"
echo "                 Lawena Recording Tool                 "
echo "-------------------------------------------------------"
echo "Load your demos using the playdemo command."
echo "To show this message again, use showhelp or press {{key.showhelp.user}}."
echo ""
echo "-------------------------------------------------------"
echo "{{key.record.user}} - Starts/stops recording to your movie folder"
echo "{{key.fpsup.user}} - Increases the recording frame rate"
echo "{{key.fpsdown.user}} - Decreases the recording frame rate"
echo "{{key.togglehud.user}} - Shows/hides the entire HUD"
echo "{{key.togglenotices.user}} - Shows/hides the deathnotices"
echo "{{key.toggleragdolls.user}} - Enables/disables ragdolls"
echo "{{key.lockviewmodels.user}} - Locks viewmodels until TF2 is restarted"
echo "{{key.lockcrosshair.user}} - Locks default crosshair until TF2 is restarted"
echo ""
echo "-------------------------------------------------------"
echo "                  Third-person camera                  "
echo "-------------------------------------------------------"
echo "{{key.thirdperson.user}} - Switch to third person"
echo "{{key.firstperson.user}} - Switch back to first person
echo "{{key.toggledist.user}} - Toggle camera distance"
echo "{{key.togglepitch.user}} - Toggle camera pitch"
echo "{{key.cam.back.user}} - Back view"
echo "{{key.cam.backleft.user}} - Back-Left view"
echo "{{key.cam.left.user}} - Left view"
echo "{{key.cam.frontleft.user}} - Front-Left view"
echo "{{key.cam.front.user}} - Front view"
echo "{{key.cam.frontright.user}} - Front-Right view"
echo "{{key.cam.right.user}} - Right view"
echo "{{key.cam.backright.user}} - Back-Right view"
echo ""
echo "-------------------------------------------------------"
echo ""
