echo ""
echo "-------------------------------------------------------"
echo "                 Lawena Recording Tool                 "
echo "-------------------------------------------------------"
echo "Load your demos using the playdemo command."
echo "To show this message again, use showhelp or press {{key.showhelp}}."
echo ""
echo "-------------------------------------------------------"
echo "{{key.record}} - Starts/stops recording to your movie folder"
echo "{{key.fpsup}} - Increases the recording frame rate"
echo "{{key.fpsdown}} - Decreases the recording frame rate"
echo "{{key.togglehud}} - Shows/hides the entire HUD"
echo "{{key.togglenotices}} - Shows/hides the deathnotices"
echo "{{key.toggleragdolls}} - Enables/disables ragdolls"
echo "{{key.lockviewmodels}} - Locks viewmodels until TF2 is restarted"
echo "{{key.lockcrosshair}} - Locks default crosshair until TF2 is restarted"
echo "N - Locks viewmodels until TF2 is restarted"
echo "M - Locks default crosshair until TF2 is restarted"
echo ""
echo "-------------------------------------------------------"
echo "                  Third-person camera                  "
echo "-------------------------------------------------------"
echo "{{key.thirdperson}} Switch to third person"
echo "{{key.firstperson}} Switch back to first person
echo "{{key.toggledist}} Toggle camera distance"
echo "{{key.togglepitch}} Toggle camera pitch"
echo "{{key.cam.back}} Back view"
echo "{{key.cam.backleft}} Back-Left view"
echo "{{key.cam.left}} Left view"
echo "{{key.cam.frontleft}} Front-Left view"
echo "{{key.cam.front}} Front view"
echo "{{key.cam.frontright}} Front-Right view"
echo "{{key.cam.right}} Right view"
echo "{{key.cam.backright}} Back-Right view"
echo ""
echo "-------------------------------------------------------"
echo ""
