.gradle

*.class
*.jar
*.war
*.ear

*.lwf
*.exe
*.log
cfg/mov/*.cfg
target/
version.txt
skybox/
*.lck

# NetBeans #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# IntelliJ #
*.iml
*.ipr
*.iws
.idea/

# Eclipse #
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch

# Operating systems #
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.*
!.gitignore
!.travis.yml
*~
