### Lawena
*.lwf
*.log
cfg/settings.cfg
cfg/namescroll.cfg
cfg/mov/*.cfg
custom/*
version.txt
*.lck
!launcher/*.jar
launcher/*.exe
src/main/dist/*.exe
src/main/dist/lawena/code/*.exe
*.sh

### IDE
.idea/
/out/

### Java
*.class
*.jar
*.zip
*.tar.gz
*.rar
hs_err_pid*

### Gradle
.gradle
/build/
!gradle-wrapper.jar
gradle.properties
